.container{
    border:1px solid gray;
    background-color: lightgray;
    border-radius: 10px;
    width: 170px;
    padding: 14px;
    box-shadow: 0 0 10px lightslategrey;
}

.image{
    width: 150px;
}

.buttonContainer{
    border: 1px saddlebrown;
    display: flex;
    justify-content: flex-end;
    background-color: burlywood;
    
}

.buttonContainer button{
    background-color: brown;
    color: whitesmoke;
    border: 0px;
    border-radius:2px ;
}

.dataContainer{
    text-align: center;
    padding: 10px;
}
